/* ============================================== */
 /* Author : Md. Munaim Khan
 /* Email  : khanmail2599@gmail.com
/* ============================================== */

/*------------------------------ 
Initial Style 
------------------------------*/
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}


/*------------------------------ 
Sections Style 
------------------------------*/
.sminar, .language{
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

.language, .sminar img{
    height: 44em;
    width: 100%;
}

.sminar img{
    animation: zoomin 50s linear infinite;
}


/*------------------------------ "flag" Section Style ------------------------------*/
.flag{
    height: 12em;
    margin: 1em;
    margin-top: -43em;
    overflow: hidden;
    position: relative;
    width: 18em;
    z-index: 999;
}

.flag img{
    height: 100%;
    transform: scale(1.5);
    width: 100%;
}

.language span{
    animation: float 15s linear infinite;
    position: relative;
    z-index: 999;
}

span img{
    height: 8em;
    width: 8em;
}

.span_right img{
    animation: rotateright 10s linear infinite;
}

.span_left img{
    animation: rotateleft 10s linear infinite;
}


/*------------------------------ 
"title" Section Style 
------------------------------*/
.title{
    animation: fadein 25s linear 1;
    align-items: center;
    background: radial-gradient(#000000, transparent);
    display: flex;
    height: 44em;
    justify-content: center;
    position: relative;
    transform: scale(1);
    z-index: 999;
}

.title img{
    transform: scale(1.2);
}


/*------------------------------ 
Keyframes Style Start 
------------------------------*/
@keyframes zoomin {
    0%{
        transform: scale(1);
    }

    100%{
        transform: scale(1.5);
    }
}

@keyframes float{
    0%{
        bottom: -100%;
    }

    100%{
        bottom: 100%;
    }
}

@keyframes rotateright{
    0%{
        transform: rotate(0deg);
    }

    50%{
        transform: rotate(-60deg);
    }

    100%{
        transform: rotate(60deg);
    }
}

@keyframes rotateleft{
    0%{
        transform: rotate(0deg);
    }

    50%{
        transform: rotate(60deg);
    }

    100%{
        transform: rotate(-60deg);
    }
}

@keyframes fadein {
    0%, 20%, 40%, 60%{
        transform: scale(0);
        display: none;
        background: radial-gradient(transparent, transparent);
    }

    80%{
        transform: scale(0);
        display: none;
        background: radial-gradient(#000000, transparent);
    }

    100%{
        transform: scale(1);
        display: flex;
        background: radial-gradient(#000000, transparent);
    }
}



/*====================================================================
Responsive Design
======================================================================*/

/*------------------------------ 
For Small Screen 
------------------------------*/
@media only screen and (max-width: 700px){
    .flag{
        height: 6em;
        width: 12em;
    }

    span img {
        height: 2em;
        width: 2em;
    }

    .title img{
        transform: scale(.7);
    }
}
